@model BSI_PasswordWallet.Infrastructure.ResponseModels.UserPasswordsResponse

@{
    ViewData["Title"] = "ViewPasswords";
    string message = TempData["message"]?.ToString();
}

@if (message != null)
{
    <partial name="_StatusMessage" model="message" />
}

<h1>Your passwords</h1>

<p>
    <a asp-action="AddNewPassword">Create New</a>
    @if (!Model.ShowDecoded)
    {
        <a asp-action="DecryptPassword">Decrypt passwords</a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>Login</th>
            <th>Password</th>
            <th>WebAddress</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Passwords) {
        <tr>
            <td>
                @item.Login
            </td>
            <td>
                @item.Password
            </td>
            <td>
                @item.WebAddress
            </td>
            <td>
                @item.Description
            </td>
        </tr>
}
    </tbody>
</table>
