@model BSI_PasswordWallet.Infrastructure.ResponseModels.UserPasswordsResponse

@{
    ViewData["Title"] = "ViewPasswords";
    string message = TempData["message"]?.ToString();
}

@if (message != null)
{
    <partial name="_StatusMessage" model="message" />
}

<h1>Your passwords</h1>

<p>
    <a asp-action="AddNewPassword">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Password hash</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Passwords) {
        <tr>
            <td>
                @item.Hash
            </td>
            <td>
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
