@{
    ViewData["Title"] = "Home Page";
    string message = TempData["message"]?.ToString();
}

@if (message != null)
{
    <partial name="_StatusMessage" model="message" />
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is password wallet application.</p>
</div>
